{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container pt-5">
      <h1>Pastebin clone api(maybe? ...because i dont use pastebin so whatever) </h1>
      <br>
      <br>
      <br>
      <h5 class="text-lg-left pb-2">endpoint : </h5>
      <div>
        <p class="fw-bold">add code(POST) </p>
        <pre><code class="hljs">/add_code </code></pre>
        <p>example : </p>
        <pre><code class="hljs"> https://pastebincloneapi.pythonanywhere.com/add_code?code_title=my_code&code=print("hello%20world")&languange=python</code></pre>
        <p>result : </p>
        <pre><code class="hljs language-json">
status : 200
{
  "code_url": "/get_code/dh8f",
  "message": "successfully added code"
}
        </code></pre>
        but if you just want to test post method, add parameter <code>&test=true</code> behind languange parameter
        <br>
        <p class="fw-bold">get code(GET) </p>
        <pre><code class="hljs">/get_code/[unique_id] </code></pre>
        <p>example : </p>
        <pre><code class="hljs"> https://pastebincloneapi.pythonanywhere.com/get_code/fr5m</code></pre>
        <p>result : </p>
        <pre><code class="hljs language-json">status:200 
{
    "code": "\n\tclass Codes(db.Model):\n\t    id = db.Column(db.Integer, primary_key=True)\n\t    unique_id = db.Column(db.String(1000), nullable=False)\n\t    code_title = db.Column(db.String(1000), nullable=False)\n\t    code = db.Column(db.String(10000), nullable=False)\n\t    languange = db.Column(db.String(1000), nullable=False)\n\t    date_added = db.Column(db.DateTime(), default=datetime.today(), nullable=False)\n\t",
    "code_title": "test",
    "date_added": "Sun, 03 Oct 2021 14:34:29 GMT",
    "languange": "python",
    "markdown_code_block": "\n\n```python\n\n\tclass Codes(db.Model):\n\t    id = db.Column(db.Integer, primary_key=True)\n\t    unique_id = db.Column(db.String(1000), nullable=False)\n\t    code_title = db.Column(db.String(1000), nullable=False)\n\t    code = db.Column(db.String(10000), nullable=False)\n\t    languange = db.Column(db.String(1000), nullable=False)\n\t    date_added = db.Column(db.DateTime(), default=datetime.today(), nullable=False)\n\t\n```\n    "
}
</code></pre>
      </div>
      <br>
      <p>more feature will be added in future...</p>
    </div>
{% endblock %}